/*=============== FONTS ===============*/
@font-face {
  font-family: TrebuchetMS;
  src: url("../fonts/trebuchetms.ttf");
}

@font-face {
  font-family: FormularBold;
  src: url("../fonts/formular-bold-trial.otf");
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 30, 28);
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: 200px auto;
}

/*=============== SLIDER MENU ===============*/
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider__menu{
  position: relative;
}

.slider__menu .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
}

.slider__menu .slick-arrow.slick-prev {
  left: 0;
  border-width: 1px;
  border-color: rgb(255, 179, 92);
  border-style: solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: url("../img/feedback/left-arrow.png") 5px no-repeat;
}

.slider__menu .slick-arrow.slick-next {
  right: 0;
  border-width: 1px;
  border-color: rgb(255, 179, 92);
  border-style: solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: url("../img/feedback/right-arrow.png") -10px no-repeat;
}